{% extends "inner_static.html" %}
{% block body %}
<div class="room">
    <p> This is room {{ roomId }} </p>
    <p> Please choose {{ chooseNumber }} people </p>

    <form action="" method=post class="center">

    {% for i in range(room["count"]) %}
        {% if room["players"][i] == session['userId'] %}
            <p class="me"> 
        {% else %}
            <p>
        {% endif %}
        {% if room["players"][room["arthur"]] == room["players"][i] %}
            <img src="../../static/img/arthur.svg" height="30" width="30">
        {%  else %}
            <img src="../../static/img/arthur.svg" height="30" width="30" class="hide">
        {% endif %}
        <input type="checkbox" name="proposal" value="{{room["players"][i]}}">
        {{ room["players"][i] }}, {{ room["showRole"][room["players"].index(session['userId'])][i] }} </p>
    {% endfor %}
        <input type=submit value="CHOOSE">
    </form>
</div>
{% endblock %}
