{% extends "layout_static.html" %}
{% block body %}
<script type="text/javascript">
    function calculateChecked() {
        var form = document.forms["choose"];
        var num = 0;
        for (var i = 0; i < form.length; i++) {
            var e = form[i];
            if (e.checked && e.type=="checkbox") num++;
        }
        return num;
    }

function checkNum() {
    var num = calculateChecked();
    if (num > {{ chooseNumber }}) {
        alert("you choose too many");
        return false;
    }
    return true;
}
function checkClick() {
    var num = calculateChecked();
    if (num != {{ chooseNumber }}) {
        alert("you have to choose {{ chooseNumber}}");
        return false;
    }
    return true;
}
</script>

<form name="choose" action="" method=post>
    <div class="col-12">
        <div class="row">
            <div class="col-6 col-m-3">vote round: {{room["voteRound"]+1}}</div>
            <div class="col-6 col-m-3"><input type=submit name="bt" value="CHOOSE" onclick="return checkClick()"></div>
        </div>
    </div>
    {% for i in range(room["count"]) %}
    <div class="col-6">
        {% if room["players"][i] == session['userId'] %}
        <div class="player me">
            <p><input type="checkbox" value="{{room["players"][i]}}" name="proposal" onclick="return checkNum()">You</p>
        </div>
        {% else %}
        <div class="player">
            <p><input type="checkbox" name="proposal" value="{{room["players"][i]}}" onclick="return checkNum()">{{room["players"][i]}}</p>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</form>
{% endblock %}
