<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="5" />
        <link rel="stylesheet" type="text/css" href="/static/css/room.css">
        <link href='https://fonts.googleapis.com/css?family=Cuprum:700,400' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="/static/js/main.js"></script>
        <title>Avalon Online</title>
    </head>
    <body>
        <header>
        <h1>Room Name</h1>
        <div class="menu"></div>
        </header>
        <nav>
        <ul>
            <li><a href="#">ID: {{session['userId']}}</a></li>
            <li><a href="#">Win: XX</a></li>
            <li><a href="#">Lose: XX</a></li>
            <li><a href="{{ url_for('root') }}">Home</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
        </ul>
        </nav>
        <div class="row">
            <div class="col-12">
                <section>
                <div class="row">
                    <div class="col-6 col-m-3">
                        {% if "questResult" in room %}
                        {% for i in room["questResult"] %}
                        {% if i %}
                        <div class="circle win">{{ room['chooseNumber'][i] }}</div>
                        {% else %}
                        <div class="circle lose">{{ room['chooseNumber'][i] }}</div>
                        {% endif %}
                        {% endfor %}

                        {% for i in range(5-room["questResult"]|length) %}
                        {% if i == 0 %}
                        <div class="circle now">{{ room['chooseNumber'][i+room["questResult"]|length] }}</div>
                        {% else %}
                        <div class="circle">{{ room['chooseNumber'][i+room["questResult"]|length] }}</div>
                        {% endif %}
                        {% endfor %}

                        {% else %}
                        <div class="circle">{{ room['chooseNumber'][0] }}</div>
                        <div class="circle">{{ room['chooseNumber'][1] }}</div>
                        <div class="circle">{{ room['chooseNumber'][2] }}</div>
                        <div class="circle">{{ room['chooseNumber'][3] }}</div>
                        <div class="circle">{{ room['chooseNumber'][4] }}</div>
                        {% endif %}
                    </div>
                    <div class="col-6 col-m-3 history">
                        History
                    </div>
                    <div class="col-12 col-m-6">
                        <table>
                            <tr>
                                <td>Arthur</td>
                                {% for i in range(room["count"]) %}
                                <td> {{room["players"][i] }} </td>
                                {% endfor %}
                            </tr>
                            {% if "questRound" in room %}
                            {% for i in range(5*(room["questRound"]+2)) %}
                            {% if "chooseRecord" in room and i in room["chooseRecord"] %}
                            {% if i+1 not in room["chooseRecord"] and i//5 in room["questResult"] %}
                            {% if room["questResult"][i//5] %}
                            <tr class="win">
                            {% else %}
                            <tr class="lose">
                            {% endif %}
                            {% else %}
                            <tr>
                            {% endif %}
                                <td>{{i//5+1}}-{{i%5+1}}</td>
                                {% for j in range(room["count"]) %}
                                {% if room["players"][j] in room["voteResult"][i] %}
                                <td class="agree">
                                    {% else %}
                                    <td class="disagree">
                                        {% endif %}
                                        {% if room["chooseRecord"][i][room["players"][j]] == True %}
                                        O
                                        {% endif %}
                                    </td>
                                    {% endfor %}
                                </tr>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                            </table>
                        </div>
                        {% block body %}{% endblock %}
                    </div>
                    </section>
                </div>
                <div class="col-12">
                    <footer><p>2015 Powered by Deepshine, Joyqul</p></footer>
                </div>
            </div>
        </body>
    </html>
