{% extends "inner.html" %}
{% block body %}
<div id="content">
    <p> This is room {{ roomId }} </p>
    {% for i in range(room["count"]) %}
        <p> {{ room["players"][i] }}, {{ room["showRole"][room["players"].index(session['userId'])][i] }} </p>
        {% if room["players"][room["arthur"]] == player %}
            <p> Arthur </p>
        {% endif %}
        {% if isChosen[room["players"][i]] %}
            <p> On the mission <p>
        {% endif %}
    {% endfor %}
    {% if isChosen[room["players"].index(session['userId'])] %}
    <form action="" method=post class="center">
        <input type="radio" name="vote" value="succeed"> Succeed <br/>
        <input type="radio" name="vote" value="failed"> Failed <br/> 
        <input type=submit value="QUEST">
    </form>
    {% else %}
        <p> Please wait Knight to go on the quest </p>
    {% endif %}
</div>
{% endblock %}
