{% extends "layout.html" %}
{% block body %}
<div id="container">
    <div id="context">
        <div id="top">
            <a href="{{ url_for('createRoom') }}">Create room</a>
        </div>
        {% for room in rooms if room["count"]<10 %}
            <div id="outerbox">
                <h2>{{ room["name"] }}</h2>
                <p>Create by: {{ room["owner"] }}</p>
                <p>Player: {{ room["count"] }}</p>
                <p>Room ID: {{ room["id"] }} <a href="{{ url_for('room', roomId=room["id"]) }}">Join</a></p>
            </div>
        {% endfor %}
    </div>
    <div id="sidebar">
        <h2>{{ userId }}</h2>
        <p>Win: {{ win }}</p>
        <p>Lose: {{ lose }}</p>
    </div>
</div>
{% endblock %}
