{% extends "layout.html" %}
{% block body %}
<div id="container">
    <div id="context">
        <div id="top">
            <a href="{{ url_for('createRoom') }}">Create room</a>
        </div>
        {% for roomId in rooms if rooms[roomId]["count"]<10 %}
            <div id="outerbox">
                <h2>{{ rooms[roomId]["name"] }}</h2>
                <p>Create by: {{ rooms[roomId]["owner"] }}</p>
                <p>Player: {{ rooms[roomId]["count"] }}</p>
                <p>Room ID: {{ rooms[roomId]["id"] }} <a href="{{ url_for('room', roomId=roomId }}">Join</a></p>
            </div>
        {% endfor %}
    </div>
    <div id="sidebar">
        <h2>{{ userId }}</h2>
        <p>Win: {{ win }}</p>
        <p>Lose: {{ lose }}</p>
    </div>
</div>
{% endblock %}
