{% extends "layout.html" %}
{% block body %}
<div class="room">
    <p> This is room {{ roomId }} </p>
    {% for player in room["players"] %}
        {% if player == session['userId'] %}
            <p class="me"> {{player}} </p>
        {% else %}
            <p> {{player}} </p>
        {% endif %}
    {% endfor %}
    <form action="" method=post class="center">
    {% if isOwner and room["count"] >= 5 %}
        <input type=submit name="submit" value="START">
    {% endif %}
        <input type=submit name="submit" value="EXIT">
    </form>
</div>
{% endblock %}
