{% extends "layout_static.html" %}
{% block body %}
{% for i in range(room["count"]) %}
<div class="col-6 col-m-3">
    {% if room["players"][i] == session['userId'] %}
    <div class="player me">
        {% if isChosen[room["players"][i]] %}
        <div class="onMission"></div>
        {% endif %}
        <p>You</p>
        <p>{{room["showRole"][room["players"].index(session['userId'])][i]}}</p>
    </div>
    {% else %}
    <div class="player">
        {% if isChosen[room["players"][i]] %}
        <div class="onMission"></div>
        {% endif %}
        <p>{{room["players"][i]}}</p>
        <p>{{room["showRole"][room["players"].index(session['userId'])][i]}}</p>
    </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}
