{% extends "inner.html" %}
{% block body %}
<div id="content">
    <p> This is room {{ roomId }}, at vote round {{room["voteRound"]+1}} </p>
    {% for i in range(room["count"]) %}
        <p> {{ room["players"][i] }}, {{ room["showRole"][room["players"].index(session['userId'])][i] }} </p>
        {% if room["players"][room["arthur"]] == player %}
            <p> Arthur </p>
        {% endif %}
        {% if isChosen[room["players"][i]] %}
            <p> On the quest <p>
        {% endif %}
    {% endfor %}
    <form action="" method=post class="center">
        <input type="radio" name="vote" value="agree"> Agree <br/>
        <input type="radio" name="vote" value="disagree"> Disagree <br/> 
        <input type=submit value="VOTE">
    </form>
</div>
{% endblock %}
