{% extends "inner.html" %}
{% block body %}
<div id="content">
    <p> This is room {{ roomId }} </p>
    {% for player in room["players"] %}
        <p> {{player}} </p>
        {% if isArthur %}
            <p> Arthur </p>
        {% endif %}
        {% if isChosen["{{player}}"] %}
            <p> On the quest <p>
        {% endif %}
    {% endfor %}
    <form action="" method=post class="center">
        <input type="radio" name="vote" value="agree"> Agree <br/>
        <input type="radio" name="vote" value="disagree"> Disagree <br/> 
        <input type=submit value="VOTE">
    </form>
</div>
{% endblock %}
