{% extends "layout.html" %}
{% block body %}
<div class="col-12">
    <p>Please wait Arthur to choose. [vote round {{room["voteRound"]+1}}]</p>
</div>
{% for player in room["players"] %}
<div class="col-6 col-m-3">
    {% if player == session['userId'] %}
    <div class="player me"> <p> You </p> </div>
    {% else %}
    <div class="player"> 
        {% if room["players"][room["arthur"]] == player %}
        <div class="arthur"></div>
        {% endif %}
        <p> {{player}} </p>
    </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}
