{% extends "inner.html" %}
{% block body %}
<div id="room">
    <p> This is room {{ roomId }} </p>
    {% for i in range(room["count"]) %}
        <p> {{ room["players"][i] }}, {{ room["showRole"][room["players"].index(session['userId'])][i] }} </p>
        {% if room["players"][room["arthur"]] == player %}
            <p> Arthur </p>
        {% endif %}
        {% if room["players"][i] in voted %}
            <p> voted </p>
        {% else %}
            <p> thinking </p>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
