{% extends "layout_static.html" %}
{% block body %}
<div class="col-12">
    <div class="col-3">Vote round: {{room["voteRound"]+1}}</div>
    <form action="" method=post>
        <div class="col-3"><input type=radio name="quest" value="succeed">Succeed</div>
        <div class="col-3"><input type=radio name="quest" value="failed">Failed</div>
        <div class="col-3"><input type=submit class="col-3" value="QUEST"></div>
    </form>
</div>
{% for i in range(room["count"]) %}
<div class="col-6 col-m-3">
    {% if room["players"][i] == session['userId'] %}
    <div class="player me">
        {% if room["players"][i] in voted %}
        <div class="vote"></div>
        {% else %}
        <div class="thinking"></div>
        {% endif %}
        <p>You</p>
        <p>{{room["showRole"][room["players"].index(session['userId'])][i]}}</p>
    </div>
    {% else %}
    <div class="player">
        {% if room["players"][i] in voted %}
        <div class="vote"></div>
        {% else %}
        <div class="thinking"></div>
        {% endif %}
        <p>{{room["players"][i]}}</p>
        <p>{{room["showRole"][room["players"].index(session['userId'])][i]}}</p>
    </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}
