{% extends "inner.html" %}
{% block body %}
<div class="room">
    <p> This is room {{ roomId }} </p>
    {% for i in range(room["count"]) %}
        {% if room["players"][i] == session['userId'] %}
            <p class="me"> 
        {% else %}
            <p>
        {% endif %}
        {% if room["players"][room["arthur"]] == room["players"][i] %}
            <img src="../../static/img/arthur.svg" height="30" width="30">
        {%  else %}
            <img src="../../static/img/arthur.svg" height="30" width="30" class="hide">
        {% endif %}
        {% if isChosen[room["players"][i]] %}
            <img src="../../static/img/onMission.svg" height="30" width="30">
        {% else %}
            <img src="../../static/img/onMission.svg" height="30" width="30" class="hide">
        {% endif %}
        {% if room["players"][i] in voted %}
            <img src="../../static/img/vote.svg" height="30" width="30">
        {% else %}
            <img src="../../static/img/thinking.svg" height="30" width="30">
        {% endif %}
            {{ room["players"][i] }}, {{ room["showRole"][room["players"].index(session['userId'])][i] }} </p>
    {% endfor %}
</div>
{% endblock %}
